:root {
  --backgroundColor: #f1faee;
  --timerTextBoardColor: #1d3557;
  --buttonsColor: #4433ff;
  --smileyButtonColor: #a8dadc;
  --buttonsHover: #3a86ff;
  --smileyHover: #b6e8e9;
}

.dark-theme {
  --backgroundColor: #9d9ba3;
  --timerTextBoardColor: #2a2438;
  --smileyButtonColor: #5c5470;
  --smileyHover: #4c465e;
  --buttonsColor: #352f44;
  --buttonsHover: #262231;
}

body {
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  background-color: var(--backgroundColor);
}

.dark-mode {
  height: 25px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border: none;
  min-width: 25px;
  top: 10px;
}

#timer {
  text-align: center;
  margin-top: 20px;
  padding: 0.3em 1em 0.25em;
  font-weight: 400;
  font-size: 30px;
  color: var(--timerTextBoardColor);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  position: relative;
  line-height: 1.3;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: var(--timerTextBoardColor);
  text-shadow: 2px 2px 4px var(--smileyButtonColor);
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
tr,
td {
  border: 3px solid var(--timerTextBoardColor);
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  transition: 500ms;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

td:hover {
  background-color: #c9d2c6;
}

.smiley-container {
  text-align: center;
  margin-bottom: 20px;
}

.smiley {
  height: 40px;
  width: 40px;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  background-color: var(--smileyButtonColor);
  transition: 300ms;
}

.smiley:hover {
  background-color: var(--smileyHover);
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: var(--timerTextBoardColor);
  bottom: auto;
  left: 0;
  position: absolute;
  width: 100%;
  color: white;
}

.levels {
  text-align: center;
  margin-bottom: 30px;
}

.buttons {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin: 5px;
  padding: 5px 8px;
  border: none;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: var(--buttonsColor);
}

.buttons:hover {
  background-color: var(--buttonsHover);
}

.buttons:active {
  top: 2px;
}
.game-over {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.smiley-container h2 {
  font-size: 20px;
  background-color: var(--smileyButtonColor);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  vertical-align: middle;
  max-width: 50px;
  padding: 5px;
  text-align: center;
  color: var(--timerTextBoardColor);
}
